.gray-bg{
	background-color: silver;
	color: black;
}

:root {
    --accent: #10302f
}

.accent {
    color: var(--accent);
}

:root {
    --link: #1b7f7a;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--accent);
}
