.gray-bg{
	background-color: silver;
	color: black;
}

:root {
    --accent: #1b7f7a;
}

.accent {
    color: var(--accent);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}
